
.navbar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: baseline;
  height: 200px;
  width: 100vw;
  border: solid 2px fuchsia;
  margin: 20px;

}

.title {
  display: flex;
  position: relative;
  border: solid 2px fuchsia;
}
